{% extends "base.html" %}

{% block content %}
<div class="welcome">
    <div class="container title">
        <h1 class="center-align">Welcome to Oakdale Spa</h1>
        <p class="center-align">Relax and unwind in our luxurious spa</p>
    </div>
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="static/img/oakdale_square_logo.png"></a>
        <a class="carousel-item" href="#two!"><img src="static/img/oakdale_square_logo.png"></a>
        <a class="carousel-item" href="#three!"><img src="static/img/oakdale_square_logo.png"></a>
        <a class="carousel-item" href="#four!"><img src="static/img/oakdale_square_logo.png"></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="static/img/oakdale_square_logo.png">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="static/img/oakdale_square_logo.png">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="static/img/oakdale_square_logo.png">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="static/img/oakdale_square_logo.png">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}