{% extends 'base.html' %}

{% block content %}
{% load cloudinary %}
{% load static %}

<div class="container">
    <h4>Change your reservation</h4>
    <div class="row">
     <form class="col s12" id="reservation_form" method="POST" action="{% url 'change_reservation' reservation_id=reservation_id %}">
       {% csrf_token %}
       {{ guest_form }}
       {{ experience_form }}
       {{ reservation_form }}
       <button type="submit" class="waves-effect waves-light btn">Save</button>
     </form>
   </div>
</div>

{% endblock %}