{% extends "base.html" %}


{% load cloudinary %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="header headings">{{ experience.experience_name }}</h2>
            <p>Thank you, {{ guest.first_name }} for choosing to unwind with us at Oakdale Spa! We are delighted to
                confirm your reservation.</p>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{ experience.experience_image.url }}" alt="{{ experience.experience_name }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content valign-wrapper">
                        <p>{{ experience.experience_description }}</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="col s12">
            <br>
            <h2 class="headings">Reservation Details</h2>
            <ul>
                <li>Number of Guests: {{reservation.number_of_guests}}</li>
                <li> Date: {{reservation.reservation_date|date:"d F Y"}}</li>
                <li> Experience: {{experience.experience_name}}</li>
                <li> Total Price: £{{reservation.reservation_price}}<li>

            </ul>

            <p>We look forward to welcoming you to Oakdale Spa and providing you with a truly rejuvenating experience.
                If you have any questions or require further assistance, please do not hesitate to contact us.</p>
    </div>
</div>
</div>
    {% endblock %}