nav .nav-wrapper {
  display: flex;
  background-color: #edede8;
  height: 169%;
}

.welcome {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: libre baskerville, serif;
}

.carousel {
  position: relative;
}

.title {
  position: absolute;
  color: #3c3c3c;
  font-family: libre baskerville;
  font-size: 3rem;
  z-index: 1;
}

nav {
    background-color: #edede8;
}

nav ul a {
  color: #3c3c3c;
}

.material-icons {
  color: #3c3c3c;
}



/* https://matthewjamestaylor.com/bottom-footer#solution */
.main-content {
    display:grid;
    grid-template-rows:auto 1fr auto;
    grid-template-columns:100%;
 
    /* fallback height */
    /* min-height:100vh; */
 
    /* new small viewport height for modern browsers */
    /* min-height:100svh; */

    margin-top: 65px;
 }
 
nav .brand-logo {
    max-height: 100%;
    font-family: libre baskerville;
    color: #3c3c3c;
}

.logo {
    font-family: libre baskerville;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2.1rem;
}

.page-footer {
  background-color: #5e7284;
  color: #ffffff;
}

.footer-copyright {
  background-color: #5e7284;
}

.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-inline-start: 28%;
    margin-inline-end: 28%;
}

@media screen and (max-width: 530px) {
  nav .brand-logo {
    font-size: 1.5rem;
  }
}

