{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span> <h3 class="card-title">Reservation</h3></span>
                    <form method="POST" action="{% url 'reservation' %}">
                        {% csrf_token %}
                        <div class="input-field">
                            <input id="reservation_date" type="text" class="datepicker" name="reservation_date">
                            <label for="reservation_date">Date</label>
                        </div>
                        <div class="input-field">
                            <input id="reservation_time" type="text" class="timepicker" name="reservation_time">
                            <label for="reservation_time">Time</label>
                        </div>
                        <div class="input-field">
                            <input id="reservation_guests" type="number" name="reservation_guests">
                            <label for="reservation_guests">Number of guests</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>

                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>

{% endblock %}