{% load static %}

{% url 'home' as home %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oakdale Spa</title>

    <link rel="shortcut icon" href="https://res.cloudinary.com/dybts6jei/image/upload/v1742079956/favicon_t9r5cu.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/07c4d71445.js" crossorigin="anonymous"></script>

    <!-- jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav class="brand-logo center">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="{% url 'home' %}" class="brand-logo">Oakdale Spa</a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                                class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == logout_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == reservation_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'past_reservations' %}">Account</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == signup_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'account_signup' %}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == login_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'account_login' %}">Login</a>
                            </li>
                            {% endif %}

                            <li><a href="#"></a></li>
                        </ul>
                    </div>

                    <div><a class="waves-effect waves-light btn right valign-wrapper"
                            href="{% url 'reservation' %}">Book
                            now</a></div>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-demo">
                {% if user.is_authenticated %}
                <li><a class="nav-link {% if request.path == logout_url %}active{% endif %}"
                    aria-current="page" href="{% url 'account_logout' %}">Logout</a></li>
                <li><a class="nav-link {% if request.path == reservation_url %}active{% endif %}"
                    aria-current="page" href="{% url 'past_reservations' %}">Account</a></li>
                {% else %}
                <li><a class="nav-link {% if request.path == signup_url %}active{% endif %}"
                    aria-current="page" href="{% url 'account_signup' %}">Register</a></li>
                <li><a class="nav-link {% if request.path == login_url %}active{% endif %}"
                    aria-current="page" href="{% url 'account_login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <main class="main-content">
        {% if messages %}
        <span>
        <ul class="messages center-align" id="scale-demo">
            {% for message in messages %} 
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
    </span>
        {% endif %}
        {% block content %}

        {% endblock %}

    </main>
    <footer class="page-footer adapted-footer">
        <div class="container">
            <h5 class="logo center-align">Oakdale Spa</h5>
            <div class="row">
                <div class="col s12">
                    <div class="col m6 s12">
                        <h5 class="white-text center-align">Contact</h5>
                        <p class="grey-text center-align text-lighten-3"><i class="fa-solid fa-phone"></i> 01452 700 800</p>
                        <p class="grey-text center-align text-lighten-3"><i class="fa-solid fa-envelope"></i> visit@oakdale.co.uk</p>
                        <p class="grey-text center-align text-lighten-3"><i class="fa-brands fa-whatsapp"></i> Whatsapp</p>
                    </div>
                    <div class="col m6 s12">
                        <h5 class="white-text center-align">Find us</h5>
                        <p class="grey-text center-align text-lighten-3">Oakdale Hall | Ashleworth | Gloucester | Gloucestershire | GL19 3KA</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col 12">
            <h5 class="white-text center-align">Search</h5>
            <ul class="social-links">
                <li><a class="grey-text text-lighten-3" href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a class="grey-text text-lighten-3" href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a class="grey-text text-lighten-3" href="#!"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a class="grey-text text-lighten-3" href="#!"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2025 Oakdale Spa
            </div>
        </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/scripts.js' %}"></script>

</body>

</html>